@page
@model MyBLog.Pages.Blogs.CreateModel
@{
}

<form class="form" method="post">
    <h5>Name:</h5>
    <input asp-for="Blog.Name" class="form-control" />
    <br />
    <h5>Description:</h5>
    <textarea asp-for="Blog.Description" class="form-control"></textarea>
    <br />
    <button class="btn btn-primary">Save</button>
</form>
